name: Build and Test 

on: 
    pull_request:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
            - name: Setup Go
              uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
              with:
                go-version: '1.23'
            - name: Run Tests and Generate Coverage report
              run: go test -v -coverprofile=coverage.out ./...
            - name: Upload Coverage report
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4   # v5.0.0
              with:
                path: coverage.out
                name: Coverage-report
            - name: Display Coverage report
              run: go tool cover -func=coverage.out
            - name: Run Linter
              uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
